# PySpark SQL Functions
## PySpark Aggregate Functions
PySpark provides built-in standard Aggregate functions defines in DataFrame API, these come in handy when we need to make aggregate operations on DataFrame columns. Aggregate functions operate on a group of rows and calculate a single return value for every group.

All these aggregate functions accept input as, Column type or column name in a string and several other arguments based on the function and return Column type.

When possible try to leverage standard library as they are little bit more compile-time safety, handles null and perform better when compared to UDF’s. If your application is critical on performance try to avoid using custom UDF at all costs as these are not guarantee on performance.

PySpark SQL Aggregate functions are grouped as “agg_funcs” in Pyspark. Below is a list of functions defined under this group.
* approx_count_distinct
* avg
* collect_list
* collect_set
* countDistinct
* count
* grouping
* first
* last
* kurtosis
* max
* min
* mean
* skewness
* stddev
* stddev_samp
* stddev_pop
* sum
* sumDistinct
* variance
* var_samp
* var_pop

In [1]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("SparkByExamples.com").getOrCreate()

In [2]:
simpleData = [("James", "Sales", 3000),
    ("Michael", "Sales", 4600),
    ("Robert", "Sales", 4100),
    ("Maria", "Finance", 3000),
    ("James", "Sales", 3000),
    ("Scott", "Finance", 3300),
    ("Jen", "Finance", 3900),
    ("Jeff", "Marketing", 3000),
    ("Kumar", "Marketing", 2000),
    ("Saif", "Sales", 4100)
  ]
schema = ["employee_name", "department", "salary"]
df = spark.createDataFrame(data=simpleData, schema = schema)
df.printSchema()
df.show(truncate=False)

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- salary: long (nullable = true)

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|James        |Sales     |3000  |
|Michael      |Sales     |4600  |
|Robert       |Sales     |4100  |
|Maria        |Finance   |3000  |
|James        |Sales     |3000  |
|Scott        |Finance   |3300  |
|Jen          |Finance   |3900  |
|Jeff         |Marketing |3000  |
|Kumar        |Marketing |2000  |
|Saif         |Sales     |4100  |
+-------------+----------+------+

### approx_count_distinct Aggregate Function
In PySpark approx_count_distinct() function returns the count of distinct items in a group.

In [3]:
from pyspark.sql.functions import approx_count_distinct
print("approx_count_distinct: " + \
      str(df.select(approx_count_distinct("salary")).collect()[0][0]))

approx_count_distinct: 6

### avg (average) Aggregate Function
avg() function returns the average of values in the input column.

In [4]:
from pyspark.sql.functions import avg
print("avg: " + str(df.select(avg("salary")).collect()[0][0]))

avg: 3400.0

### collect_list Aggregate Function
collect_list() function returns all values from an input column with duplicates.

In [5]:
from pyspark.sql.functions import collect_list
df.select(collect_list("salary")).show(truncate=False)

+------------------------------------------------------------+
|collect_list(salary)                                        |
+------------------------------------------------------------+
|[3000, 4600, 4100, 3000, 3000, 3300, 3900, 3000, 2000, 4100]|
+------------------------------------------------------------+

### collect_set Aggregate Function
collect_set() function returns all values from an input column with duplicate values eliminated.

In [6]:
from pyspark.sql.functions import collect_set
df.select(collect_set("salary")).show(truncate=False)

+------------------------------------+
|collect_set(salary)                 |
+------------------------------------+
|[4600, 3000, 3900, 4100, 3300, 2000]|
+------------------------------------+

### countDistinct Aggregate Function
countDistinct() function returns the number of distinct elements in a columns

In [7]:
from pyspark.sql.functions import countDistinct
df2 = df.select(countDistinct("department", "salary"))
df2.show(truncate=False)
print("Distinct Count of Department & Salary: "+str(df2.collect()[0][0]))

+----------------------------------+
|count(DISTINCT department, salary)|
+----------------------------------+
|8                                 |
+----------------------------------+

Distinct Count of Department & Salary: 8

### count function
count() function returns number of elements in a column.

In [8]:
from pyspark.sql.functions import count
print("count: "+str(df.select(count("salary")).collect()[0]))

count: Row(count(salary)=10)

### grouping function
grouping() Indicates whether a given input column is aggregated or not. returns 1 for aggregated or 0 for not aggregated in the result.

### first function
first() function returns the first element in a column when ignoreNulls is set to true, it returns the first non-null element.

In [9]:
from pyspark.sql.functions import first
df.select(first("salary")).show(truncate=False)

+-------------+
|first(salary)|
+-------------+
|3000         |
+-------------+

### last function
last() function returns the last element in a column. when ignoreNulls is set to true, it returns the last non-null element.

In [10]:
from pyspark.sql.functions import  last
df.select(last("salary")).show(truncate=False)

+------------+
|last(salary)|
+------------+
|4100        |
+------------+

### kurtosis function
kurtosis() function returns the kurtosis of the values in a group.

In [11]:
from pyspark.sql.functions import kurtosis
df.select(kurtosis("salary")).show(truncate=False)

+-------------------+
|kurtosis(salary)   |
+-------------------+
|-0.6467803030303032|
+-------------------+

### max function
max() function returns the maximum value in a column.

In [12]:
from pyspark.sql.functions import max
df.select(max("salary")).show(truncate=False)

+-----------+
|max(salary)|
+-----------+
|4600       |
+-----------+

### min function

In [13]:
from pyspark.sql.functions import min
df.select(min("salary")).show(truncate=False)

+-----------+
|min(salary)|
+-----------+
|2000       |
+-----------+

### mean function
mean() function returns the average of the values in a column. Alias for Avg

In [14]:
from pyspark.sql.functions import mean
df.select(mean("salary")).show(truncate=False)

+-----------+
|avg(salary)|
+-----------+
|3400.0     |
+-----------+

### skewness function
skewness() function returns the skewness of the values in a group.

In [15]:
from pyspark.sql.functions import skewness
df.select(skewness("salary")).show(truncate=False)

+--------------------+
|skewness(salary)    |
+--------------------+
|-0.12041791181069571|
+--------------------+

### stddev(), stddev_samp() and stddev_pop()
stddev() alias for stddev_samp.

stddev_samp() function returns the sample standard deviation of values in a column.

stddev_pop() function returns the population standard deviation of the values in a column.

In [16]:
from pyspark.sql.functions import stddev, stddev_samp, stddev_pop
df.select(stddev("salary"), stddev_samp("salary"), \
    stddev_pop("salary")).show(truncate=False)

+-------------------+-------------------+------------------+
|stddev_samp(salary)|stddev_samp(salary)|stddev_pop(salary)|
+-------------------+-------------------+------------------+
|765.9416862050705  |765.9416862050705  |726.636084983398  |
+-------------------+-------------------+------------------+

### sum function
sum() function Returns the sum of all values in a column.

In [17]:
from pyspark.sql.functions import sum
df.select(sum("salary")).show(truncate=False)

+-----------+
|sum(salary)|
+-----------+
|34000      |
+-----------+

### sumDistinct function
sumDistinct() function returns the sum of all distinct values in a column.

In [18]:
from pyspark.sql.functions import sumDistinct
df.select(sumDistinct("salary")).show(truncate=False)

+--------------------+
|sum(DISTINCT salary)|
+--------------------+
|20900               |
+--------------------+

### variance(), var_samp(), var_pop()
variance() alias for var_samp

var_samp() function returns the unbiased variance of the values in a column.

var_pop() function returns the population variance of the values in a column.

In [19]:
from pyspark.sql.functions import variance, var_samp, var_pop
df.select(variance("salary"),var_samp("salary"),var_pop("salary")) \
  .show(truncate=False)

+-----------------+-----------------+---------------+
|var_samp(salary) |var_samp(salary) |var_pop(salary)|
+-----------------+-----------------+---------------+
|586666.6666666666|586666.6666666666|528000.0       |
+-----------------+-----------------+---------------+